<h2 mat-dialog-title>شروط قبول طلبات المساعدة</h2>
<div class="col-12">
  <hr>
</div>
<mat-dialog-content>
  <p>في حال ظهور رسالة تفيد باستكمال العدد المسموح ، نرجو تقديم الطلب في الأسبوع القادم</p>
  <p>في حال تباين أو اختلاف في الأوراق الثبوتيةعم المعلومات المدونة في استمارة تقديم المساعدة يتم رفض المساعدة</p>

</mat-dialog-content>
<div class="col-12">
  <hr>
</div>
<mat-dialog-actions>
  <button style="background-color:#0274BE; color: white;" mat-button (click)="closeDialog()">إغلاق</button>
</mat-dialog-actions>