<div>
    <h2>{{ 'Profile.HrPersonVacations' | translate }}</h2>
</div>

<hr>
<app-insideloader *ngIf="loadingOverlay"></app-insideloader>
<div *ngIf="PersonEditObj && !loadingOverlay">
    <div class="container" style="padding-left: 0px;" >

        <div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>{{'Profile.Name' | translate}}</h5>
                </div>
                <div class="col-md-9">
                    <h5>{{PersonEditObj.hrPersonName}}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>{{'Profile.Status'| translate}}</h5>
                </div>
                <div class="col-md-9">
                    <h5 *ngIf="PersonEditObj.portalStatusLkpId==41699 || PersonEditObj.portalStatusLkpId==41723"><span 
                        style="color: green">{{PersonEditObj.fndPortalStatusLkp}}</span>
                    </h5>
                    <h5 *ngIf="PersonEditObj.portalStatusLkpId!=41699 && PersonEditObj.portalStatusLkpId!==41723"><span 
                        style="color: red;">{{PersonEditObj.fndPortalStatusLkp}}</span></h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>{{'Profile.TypeOfLeave'| translate}}</h5>
                </div>
                <div class="col-md-9">
                    <h5>{{'Profile.' + PersonEditObj.hrVacationsTypeName | translate}}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>{{'Profile.StartEndDate'| translate}}</h5>
                    
                </div>
                <div class="col-md-9">
                    <h5>{{PersonEditObj.startDate}} - {{PersonEditObj.endDate}}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>{{'Profile.NoOfDays'| translate}}</h5>
                </div>
                <div class="col-md-9">
                    <h5>{{PersonEditObj.noOfDays}}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>{{'Profile.IsOutCountryLeave'| translate}}</h5>
                </div>
                <div class="col-md-9">
                    <h5>{{PersonEditObj.isOutCountryLeave}}</h5>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>Approvers</h5>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive table">
                        <table class="table">
                            <tbody>
                                <tr style="border: 1px solid #dee2e6;">
                                    <td>
                                        <h5 style="color: gray;">Name</h5>
                                    </td>
                                    <td>
                                        <h5 style="color: gray;">Status</h5>
                                    </td>
                                    <td>
                                        <h5 style="color: gray;">Date</h5>
                                    </td>
                                </tr>
                                <tr style="border: 1px solid #dee2e6;">
                                    <td style="width:50%">
                                        <h5><span>{{PersonEditObj.supervisorname}}</span></h5>
                                    </td>
                                    <td style="width:30%">
                                        <h5>
                                           <span *ngIf="PersonEditObj.portalStatusLkpId==41712" style="color: rgb(128, 94, 0);background-color: #e8b21e;">Pending</span>
                                           <span *ngIf="PersonEditObj.portalStatusLkpId==41699 || PersonEditObj.portalStatusLkpId==41723" style="color: green;background-color: #d9ffdf;">Approved</span>
                                           <span *ngIf="PersonEditObj.portalStatusLkpId==41700" style="color: rgb(128, 0, 23);background-color: #f53434;">Rejected</span>
                                        </h5>
                                    </td>
                                    <td style="width:20%">
                                        <h5><span>{{PersonEditObj.supervisorSubmitDate}}</span></h5>
                                    </td>
                                </tr> 
                                <tr style="border: 1px solid #dee2e6;">
                                    <td style="width:50%">
                                        <h5><span>HR Department</span></h5>
                                    </td>
                                    <td style="width:30%">
                                        <h5>
                                            <span *ngIf="PersonEditObj.portalStatusLkpId==41712"  style="color:  rgb(128, 94, 0);background-color:   #e8b21e;">Pending</span>
                                            <span *ngIf="PersonEditObj.portalStatusLkpId==41699" style="color: green;background-color: #d9ffdf;">Pending</span>
                                            <span *ngIf="PersonEditObj.portalStatusLkpId==41723" style="color: green;background-color: #d9ffdf;">Approved</span>
                                        </h5>
                                    </td>
                                    <td style="width:20%">
                                        <h5><span>{{PersonEditObj.postDate}}</span></h5>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>{{'Profile.Description'| translate}}</h5>
                </div>
                <div class="col-md-9">
                    <textarea name="" id="" disabled style="width: 100%;" rows="0" [value]="PersonEditObj.notes"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>{{'Profile.Reason'| translate}}</h5>
                </div>
                <div class="col-md-9">
                    <!-- <textarea name="" id="reason"  style="width: 100%;" rows="0" [value]="PersonEditObj.reason"></textarea> -->
                    <input type="textArea" class="form-control" autocomplete="off" id="reason" [(ngModel)]="PersonEditObj.reason">
    
                </div>
            </div>
        </div>
        <!--<div class="col-md-12 mt-4" style="padding-left: 8px;">
            <div class="row">
                <div class="col-md-3" style="padding-left: 8px;">
                    <h5>Comments</h5>
                </div>
                <div class="col-md-9">
                    <textarea name="comments" id="" style="width: 100%;" rows="0"
                        [value]="PersonEditObj.reason" [disabled]="PersonEditObj.portalStatusLkpId!=41712"></textarea>
                </div>
            </div>
        </div>-->
    </div>
    <br>
    <button *ngIf="PersonEditObj.portalStatusLkpId !==null && PersonEditObj.portalStatusLkpId==41712"  class="btn mr-2" style="text-align: center; background-color: rgb(132, 208, 132); color: white;"  
    (click)="ApproveVacationRequest(PersonEditObj.id)">
        <span class="material-symbols-outlined">check_circle</span> Approve
    </button>
    <button *ngIf="PersonEditObj.portalStatusLkpId !==null && PersonEditObj.portalStatusLkpId==41712" class="btn mr-2" style="text-align: center; background-color: rgb(220, 53, 69); color: white;"
        (click)="RejectPersonVacation(PersonEditObj.id)">
        <span class="material-symbols-outlined" >cancel</span> Reject
    </button>
    <button class="btn btn-secondary mr-2" style="text-align: center;" (click)="btnclose()">
        <span class="material-symbols-outlined">close</span> Close
    </button> 
</div>

<!--<div style="display: flex; margin-top: 75px;">
    <button  class="btn btn-success mr-2" (click)="btnclose()">
        <span class="material-symbols-outlined">done</span> Accept
    </button>
    <button class="btn btn-danger mr-2" (click)="btnclose()">
        <span class="material-symbols-outlined">close</span> Decline
    </button>
    <button class="btn btn-secondary mr-2" (click)="btnclose()">
        <span class="material-symbols-outlined">close</span> Close
    </button>
</div>-->