.table td {
    padding: 0.75rem;
    vertical-align: top;
    font-size:13px;
    border: 1px solid #dee2e6;
}

.table th {
    padding: 0.75rem;
    vertical-align: top;
    font-size:14px;
    border: 1px solid #dee2e6;
}
  .example-header {
    display: flex;
    justify-content: flex-end; 
    
  }
  
  .search-box{
    border: 1px solid #ccc; 
    border-radius: 3px;
    margin-bottom: 5px;
    width: 150px;
  }
  
  .filter-container {
    margin-right: auto; /* Push the filter input to the left */
  }
  .mat-header-cell{
    font-size: 15px ;
    color: black;
  }
  .mat-cell{
    font-size: 13px;
  }
  .example-container {
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  .mat-form-field {
    font-size: 15px;
  }

     /* Mat-Table -- Border color and all column alignment*/

.mat-header-cell, .mat-cell {
  justify-content: center;
}

.mat-cell:first-child {
  border-left: 0.5px solid rgb(239, 237, 237);
}

.mat-row:first-child {
  border-left: 0.5px solid rgb(239, 237, 237);
}

/* .mat-row:last-child {
  border-bottom: 0.5px solid rgb(239, 237, 237);
} */
.mat-column {
  border-right: 0.5px solid rgb(239, 237, 237);
}
.mat-column:first-child {
  border-left: 0.5px solid rgb(239, 237, 237);
}
.mat-header-cell:first-child {
  border-left: 0.5px solid rgb(239, 237, 237);
}
.mat-header-cell {
  border-right: 0.5px solid rgb(239, 237, 237);
  border-top: 0.5px solid rgb(239, 237, 237);
} 

.mat-cell {
  padding: 16px 0;
  /* border-top: 0.5px solid rgb(239, 237, 237); */
  border-right: 0.5px solid rgb(239, 237, 237);
}

.mat-header-cell:first-child {
  border-left: 0.5px solid rgb(239, 237, 237);
   border-right: 0.5px solid rgb(239, 237, 237);
}
.mat-header-cell {
  border-right: 0.5px solid rgb(239, 237, 237);
  border-top: 0.5px solid rgb(239, 237, 237);
}
.mat-header-cell:first-of-type{
  padding-right: 0px;
  padding-left: 12px;
}
.mat-cell:first-of-type{
  padding-right: 0px;
}
.mat-column-documentRequestDate {
  flex: 0 0 10%; 
}

.mat-column-type {
  flex: 0 0 11%;
  padding-left: 5px; 
}

.mat-column-documentHrPersons {
  flex: 0 0 13%; 
}

.mat-column-vacationNoOfDays {
  flex: 0 0 7%; 
  padding-left: 10px;
}

.mat-column-vacationEndDate {
  flex: 0 0 9%; 
  padding-left: 10px;
}

.mat-column-vacationStartDate {
  flex: 0 0 9%;
  padding-left: 10px; 
}
.mat-column-Actions {
  flex: 0 0 9%; 
}

.mat-column-vacationPortalStatusLkp {
  flex: 0 0 15%; 
}

/* Responsive For Mat Table*/

.mat-table {
  align-items: stretch;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}
  .mat-cell,
  .mat-header-cell {
    overflow: visible;
  }

  .mat-row{
    border-bottom-color: none !important;
    padding: 0px !important;
  }
  .mat-header-row {
    background: inherit;
    min-height: 48px !important;
    border-bottom-color: none !important;
    padding: 0px !important;
  }

  .mat-row:hover {
    background: rgba(197, 224, 220, .3) !important; 
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
  }

  .mat-column-select {
    max-width: 64px;
  }


.sticky-header {
  .mat-header-row {
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
  }
}

.zebra {
  .mat-row:nth-child(odd) {
    background: #F9F9F9;
  }
}

@media (max-width: 959px) {
  .responsive-lg
  .responsive-md,
  .responsive-sm {
    flex-direction: row;
    max-width: 100%;
    overflow-x: scroll;
  }
    .mat-row,
    .mat-header-row {
      border-right: 1px solid rgba(0,0,0,0.12);
      flex-direction: column;
      padding: 0 12px;
      width: 100%;
    }

     .mat-cell,
     .mat-header-cell {
      border-bottom: 1px solid rgba(0,0,0,0.12);
      padding: 12px;
      width: 100%;
      overflow: visible;
    }
    
    .mat-cell:last-of-type,
    .mat-header-cell:last-of-type {
      border-bottom: none;
    }

    .mat-column-select {
      max-width: initial;
    }
    .example-container {
      display: flex;
      flex-direction: column;
      min-width: 100%;
    }
  }

   /* style cards  */
  .table-card-odd{
    border:1px solid #cfcfcf;
    background-color:#fff;
    border-radius:5px;
    padding:16px;
    margin-bottom:16px;
}
.table-card-even {
    border: 1px solid #cfcfcf;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
}

.table-card-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #cfcfcf;
}
.table-card-item:last-child {

    border-bottom: none;
}

.table-card-item p{
    margin-bottom:0;
}
    .table-card-item p:first-child {
       font-weight:bold;
    }

.table-card-action-btn {
    padding: 9px 12px;
    background-color: #1285B9;
    border: none;
    border-radius: 5px;
}

.table-card-filter-icon{

}
.table-responsive {
  width: 100% !important;
}