.form-control{
    padding: .10rem .75rem;
}

.h5,h5,.h2,h2{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.material-symbols-outlined{
    vertical-align: middle; /* Align the icon vertically */
    margin-right: 5px;
}