<div class="container-fluid mt-4">
    <h2>{{'HrDocumentRequest.Title' | translate}}</h2>
    <hr>

    <div class="row">
        <div class="col-12 col-md-6">
            <h5>{{'Profile.Name' | translate}}</h5>
            <h6>{{DocumentEditObj.hrPersons}}</h6>
        </div>
        <div class="col-12 col-md-6">
            <h5>{{'Profile.Status' | translate}}</h5>
            <h6 *ngIf="DocumentEditObj.portalStatusLkpId==41717" style="color: orange;">{{DocumentEditObj.PortalStatusLkp}}</h6>
            <h6 *ngIf="DocumentEditObj.portalStatusLkpId==41718" style="color: green;">{{DocumentEditObj.PortalStatusLkp}}</h6>
            <h6 *ngIf="DocumentEditObj.portalStatusLkpId==41719" style="color: red;">{{DocumentEditObj.PortalStatusLkp}}</h6>
            <h6 *ngIf="DocumentEditObj.portalStatusLkpId==41721" style="color: green;">{{DocumentEditObj.PortalStatusLkp}}</h6>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <h5>{{'Profile.TypeOfDocument' | translate}}</h5>
            <h6>{{DocumentEditObj.documentLkp}}</h6>
        </div>
        <div class="col-12 col-md-6">
            <h5>{{'HrDocumentRequest.SubmittedTo' | translate}}</h5>
            <h6>{{DocumentEditObj.submittedTo}}</h6>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h5>{{'HrDocumentRequest.Description' | translate}}</h5>
            <textarea disabled style="width: 100%;" rows="3" [value]="DocumentEditObj.desc"></textarea>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h5>{{'HrDocumentRequest.Reason' | translate}}</h5>
            <textarea disabled style="width: 100%;" rows="3" [value]="DocumentEditObj.reason"></textarea>
        </div>
    </div>

    <!-- Approvers Table -->
    <div class="row mt-4">
        <div class="col-12">
            <h5>{{'Profile.Approvers' | translate}}</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{'Name' | translate}}</th>
                            <th>{{'Status' | translate}}</th>
                            <th>{{'Date' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{DocumentEditObj.supervisorname}}</td>
                            <td>
                                <span *ngIf="DocumentEditObj.portalStatusLkpId==41717" class="badge badge-warning">{{'Profile.Pending' | translate}}</span>
                                <span *ngIf="DocumentEditObj.portalStatusLkpId==41718 || DocumentEditObj.portalStatusLkpId==41721" class="badge badge-success">{{'Profile.Approved' | translate}}</span>
                                <span *ngIf="DocumentEditObj.portalStatusLkpId==41719" class="badge badge-danger">{{'Profile.Rejected' | translate}}</span>
                            </td>
                            <td>{{DocumentEditObj.supervisorSubmitDate}}</td>
                        </tr>
                        <tr>
                            <td>{{'Profile.HrDepartment' | translate}}</td>
                            <td>
                                <span *ngIf="DocumentEditObj.portalStatusLkpId==41717" class="badge badge-warning">{{'Profile.Pending' | translate}}</span>
                                <span *ngIf="DocumentEditObj.portalStatusLkpId==41718" class="badge badge-warning">{{'Profile.Pending' | translate}}</span>
                                <span *ngIf="DocumentEditObj.portalStatusLkpId==41721" class="badge badge-success">{{'Profile.Approved' | translate}}</span>
                            </td>
                            <td>{{DocumentEditObj.lastmodificationDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <button class="btn btn-secondary mt-4" (click)="btnclose()">
        <span class="material-symbols-outlined">close</span> Close
    </button>
</div>
