<!-- Loading Overlay -->
<app-insideloader *ngIf="loadingOverlay"></app-insideloader>
<!-- =============== -->
<div *ngIf="!loadingOverlay">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ 'Password.changePassword' | translate }}</h5>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="oldPass" [class.label-over]="changePassword.currentPassword">{{ 'Password.oldPassword' | translate }}</label>
                        <input type="password" (focus)="focused($event)" (blur)="blured($event,changePassword.currentPassword)" class="form-control" autocomplete="off" id="oldPass" (keyup)="currentPasswordError=false;" [class.is-invalid]="currentPasswordError" [(ngModel)]="changePassword.currentPassword">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="newPass" [class.label-over]="changePassword.newPassword">{{ 'Password.newPassword' | translate }}</label>
                        <input type="password" (focus)="focused($event)" (blur)="blured($event,changePassword.newPassword)" class="form-control" autocomplete="off" id="newPass" (keyup)="newPasswordError=false;" [class.is-invalid]="newPasswordError" [(ngModel)]="changePassword.newPassword">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="confirmPassword" [class.label-over]="changePassword.confirmNewPassword">{{ 'Password.confirmNewPassword' | translate }}</label>
                        <input type="password" (focus)="focused($event)" (blur)="blured($event,changePassword.confirmNewPassword)" class="form-control" autocomplete="off" id="confirmPassword" [(ngModel)]="changePassword.confirmNewPassword">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-5">
        <a href="javascript:;" class="next-btn" (click)="submit()">{{ 'Password.submit' | translate }}</a>
    </div>
</div>
