<!-- Loading Overlay -->
<app-loading *ngIf="loadingOverlay"></app-loading>
<!-- =============== -->
<!-- Login Form  -->
<div class="container pt-5">
    <div class="login-form" style="background: radial-gradient(circle at 12% 86%, rgba(205, 31, 36, 0.8), rgba(240, 110, 33, 0.8) 93%), linear-gradient(66deg, rgba(205, 31, 36, 1) 13%, rgba(240, 110, 33, 1) 94%), url('./assets/images/arabic-family2.jpg') no-repeat;">
        <div class="row">
            <div class="col-md-4 d-none d-md-block">
                <img [class.rotate]="lang != 'ar'" src="./assets/images/login-user.svg" alt="img">
            </div>
            <div class="col-md-8">
                <form (keyup.enter)="onSubmitLogin()">
                    <div class="p-relative">
                        <img class="log-ico" src="./assets/images/username.svg" alt="img">
                        <input type="password" id="password" placeholder="{{ 'LoginForm.password' | translate }}" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="password">
                    </div>
                    <div class="p-relative">
                        <img class="log-ico" src="./assets/images/password.svg" alt="img">
                        <input type="password" id="confirmPassword" placeholder="{{ 'SignUpForm.checkPassword' | translate }}" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="confirmPassword">
                    </div>
                </form>
            </div>
            <div class="col-12">
                <div class="options">
                    <button class="btn btn-custom" (click)="onSubmitLogin()">{{ 'Home.reset' | translate }}</button>
                 </div>
            </div>
        </div>
    </div>
</div>
<!-- ============= -->
