<button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
</button>
<div class="modal-header">

    <h4 class="modal-title custom-margin">{{ 'ModalMsgs.enterEmail' | translate }}</h4>

</div>

<div class="message-container">
    <h6 class="custom-h6">{{ 'ModalMsgs.message' | translate }}</h6>
</div>


<div class="modal-header">
    <h4 class="modal-title custom-title">{{ 'ModalMsgs.forgetMsg' | translate }}</h4>
</div>

<div class="modal-body">
    <div class="input-container">
        <input type="email" class="form-control" autocomplete="off" [(ngModel)]="email" placeholder="E-mail">
    </div>


</div>
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="close()">{{ 'ModalMsgs.cancel' | translate }}</button> -->
    <button type="button" class="btn btn-primary custom-btn" (click)="send()">
        {{ 'ModalMsgs.send' | translate }}
    </button>
</div>