

.custom-margin {
    margin-left: 50px; 
    margin-right: 0px; 
    text-align: center; 
}

.custom-h6 {
    font-size: 14px; 
    color: #999;
}
.modal-body{
    position: relative;
    padding: 0rem;
}

.modal-header {

    padding: 10px; 
    text-align: center; 
    border-bottom: none;
    margin-top: 5px;
    margin-bottom: -10px;
}

.custom-title {
    font-size: 16px; 
    color: #000; 
    margin: 0;
    padding: 0; 
    font-weight: bold;
}

.input-container {
    margin: 0px 0;
}



.input-container {
    margin: 10px 0; 
}

.form-control {
    width: 90%;
    border-radius: 0.5rem;
    margin-left: 10px;

}

.message-container {
    text-align: center; 
    margin-top: 1rem; 
    margin-bottom: 1rem; 
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.custom-btn {
    text-align: center;
    margin-left: 0px; 
    margin-right: 100px; 
    background-color: black; 
    color: white; 
    padding: 0.375rem 0.75rem; 
    transition: background-color 0.3s ease; 
}

.custom-btn:hover {
    background-color: #343a40; 
    border-color: #343a40; 
}


.message-container .custom-h6 {
    margin-bottom: 5px;
    margin-top: -20px;
    line-height: 1.5;
}

.modal-header .custom-title{
    margin-bottom: 5px;
    margin-top: -20px;

}

.modal-footer{
    border-top: none;
}
